@charset utf-8
*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
	height: 100%
}
body{
	width: 100%;
	height: 100%
}
header{
	height: 10%;
	width: 100%;
}
#head{
	background-color: black;
	width: 100%;
	height: 100%
	
}
#logo{

	display: inline;
	margin: 0px 0px 0px 200px;
	line-height: 50px

}
#logo span{
	color: #fff;
	font-size: 20px;
    
}
#href{
	position: relative;
	top:-10px;
	width: 200px;
	display: inline;
	margin: 10px 0px 10px 800px;
	
}
#href a{
	color: #fff;
	font-size: 15px;

}
#banner{
	height: 30%;
	width: 100%;
	background-color: #66bb33;
}
#banner div{
	width: 28px;
	height: 34px;
	border: 1px solid black;
	background-color: #b2dd99;
	float: left;
	text-align: center;
}
#banner #one{
	margin:140px 0px 0px 1030px;
}
#banner #two{
	margin:126px 0px 0px 10px;
	background-color: #fff;
	height: 48px
	text-align：

}
#banner #three{
	margin:140px 0px 0px 10px;
}
#banner #four{
	margin:140px 0px 0px 10px;
}